[Desktop Entry]
Type=Application
Name=Flex Center
Comment=Manage FlexOS
Comment[tr]=FlexOS sistemini yönet
Exec=flex-session-launch /usr/bin/flex-center
Icon=flexos-logo
Terminal=false
Categories=X-FlexOS;System;Settings;
