[Desktop Entry]
Type=Application
Name=Install FlexOS
Name[tr]=FlexOS'u Kur
Comment=Install FlexOS to disk
Comment[tr]=FlexOS'u diske kur
Exec=flexos-installer
TryExec=flexos-installer
Icon=flexos-logo
Terminal=false
Categories=System;
NoDisplay=true
