[Desktop Entry]
Type=Application
Name=Flex Center
Comment=Manage FlexOS
Comment[tr]=FlexOS sistemini yönet
Exec=flex-center
Icon=flexos-logo
Terminal=false
Categories=System;Settings;
