[Desktop Entry]
Type=Application
Name=Flex System Report
Name[tr]=Flex Sistem Raporu
Comment=Create a FlexOS diagnostic report
Comment[tr]=FlexOS tanılama raporu oluştur
Exec=flex-system-report
Icon=flexos-logo
Terminal=false
Categories=System;
